Passo 1: Importar a Biblioteca no prompt da anaconda: pip install yfinance

Passo 2: Importar a Biblioteca yfinance no jupyter notebook

In [3]:
import numpy as np
import pandas as pd
import yfinance as yf
from pandas_datareader import data as wb

In [4]:
yf.pdr_override()

PETR4 = wb.get_data_yahoo("PETR4.SA", start='2010-01-01')

[*********************100%***********************]  1 of 1 completed

In [5]:
from pandas_datareader import data as wb

In [7]:
PETR4

                 Open       High        Low      Close  Adj Close    Volume
Date
2010-01-04  36.950001  37.320000  36.820000  37.320000  11.541965  13303600
2010-01-05  37.380001  37.430000  36.799999  37.000000  11.442999  21396400
2010-01-06  36.799999  37.500000  36.799999  37.500000  11.597635  18720600
2010-01-07  37.270000  37.450001  37.070000  37.150002  11.489390  10964600
2010-01-08  37.160000  37.389999  36.860001  36.950001  11.427538  14624200
...               ...        ...        ...        ...        ...       ...
2023-07-03  29.719999  30.180000  29.719999  30.080000  30.080000  31266900
2023-07-04  29.959999  30.389999  29.959999  30.150000  30.150000  18308000
2023-07-05  30.160000  30.549999  29.660000  30.110001  30.110001  53585500
2023-07-06  29.850000  30.000000  29.150000  29.650000  29.650000  47685700
2023-07-07  29.760000  30.200001  29.360001  29.500000  29.500000  55533500

[3354 rows x 6 columns]

In [8]:
PETR4.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2010-01-04  36.950001  37.320000  36.820000  37.320000  11.541965  13303600
2010-01-05  37.380001  37.430000  36.799999  37.000000  11.442999  21396400
2010-01-06  36.799999  37.500000  36.799999  37.500000  11.597635  18720600
2010-01-07  37.270000  37.450001  37.070000  37.150002  11.489390  10964600
2010-01-08  37.160000  37.389999  36.860001  36.950001  11.427538  14624200

In [9]:
PETR4.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3354 entries, 2010-01-04 to 2023-07-07
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       3354 non-null   float64
 1   High       3354 non-null   float64
 2   Low        3354 non-null   float64
 3   Close      3354 non-null   float64
 4   Adj Close  3354 non-null   float64
 5   Volume     3354 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 183.4 KB

In [11]:
tickers = ['PETR4.SA', 'GGBRA.SA','MRVE3.SA','CVCB3.SA']
novos_dados = pd.DataFrame()
for t in tickers:
    novos_dados[t] = wb.DataReader(t, data_source='yahoo', start = '2010-1-1')['Adj Close']

TypeError: download() got an unexpected keyword argument 'data_source'